<div class="container speakup">
  <div id="speakup-homepage" style="display: none">
    <div class="row hidden-xs">
      <div id="speakup-homepage-banner" class="col-sm-8"></div>

      <div class="col-sm-4">
        <a class="twitter-timeline" height="250" href="https://twitter.com/speakupmzansi" data-widget-id="534284291811721217">Tweets by @SpeakUpMzansi</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
