<div class="speakup">
  <div id="header">
    <header>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <!-- Mobile Menu Button -->
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-main-collapse">
              <i class="fa fa-bars"></i>
            </button>
          </div>

          <div class="navbar-collapse nav-main-collapse collapse">
            <ul class="nav navbar-nav nav-main">
              <li>
                  <a href="http://info.speakupmzansi.org.za/election-promises/">Election Promises</a>
              </li>
              <li>
                  <a href="http://info.speakupmzansi.org.za/political-party-information/">Political Party Information</a>
              </li>
            </ul>

            <ul class="nav navbar-right navbar-nav social-links">
              <li>
                <a href="https://twitter.com/@SpeakUpMzansi" class="navbar-link"><i class="fa fa-2x fa-twitter-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>

  <div id="speakup-homepage" style="display: none">
    <div class="container">
      <div class="row">
        <div id="speakup-homepage-banner" class="col-sm-8"></div>

        <div class="col-sm-4 hidden-xs">
          <a class="twitter-timeline" height="250" href="https://twitter.com/speakupmzansi" data-widget-id="534284291811721217">Tweets by @SpeakUpMzansi</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</div>
