<div class="speakup">
  <div id="header">
    <header>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <ul class="nav navbar-nav nav-main">
            <li>
              <a href="http://info.speakupmzansi.org.za/election-promises/">Election Promises</a>
            </li>
            <li>
              <a href="http://info.speakupmzansi.org.za/political-party-information/">Political Party Information</a>
            </li>
            <li>
              <a href="http://info.speakupmzansi.org.za/state-province-summaries/">State of the Province Commitments</a>
            </li>
            <li>
              <a href="http://info.speakupmzansi.org.za/resources/">Democracy Resources</a>
            </li>
            <li>
              <a href="http://info.speakupmzansi.org.za/about-speak-mzansi/">About Speak Up Mzansi</a>
            </li>
            <li>
              <a href="http://info.speakupmzansi.org.za/contact-us/">Contact Us</a>
            </li>
          </ul>

          <ul class="nav navbar-right navbar-nav social-links hidden-xs">
            <li>
              <a href="https://twitter.com/@SpeakUpMzansi" class="navbar-link"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>

  <div id="speakup-homepage" style="display: none">
    <div class="container">
      <div class="row">
        <div id="speakup-homepage-banner" class="col-sm-8"></div>

        <div class="col-sm-4 hidden-xs">
          <a class="twitter-timeline" height="250" href="https://twitter.com/speakupmzansi" data-widget-id="534284291811721217">Tweets by @SpeakUpMzansi</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</div>
