.speakup {
  $navbar-default-link-color:                #0088cc !default;
  $navbar-default-link-hover-color:          #0088cc !default;

  $navbar-default-bg:                #f8f8f8 !default;
  $navbar-default-border:            #e7e7e7 !default;

  $navbar-height:                    40px !default;
  $navbar-margin-bottom:             10px !default;

  @import "bootstrap";

  .navbar-static-top {
    z-index: auto;
  }

  #speakup-homepage {
    margin-bottom: 10px;
    padding: 0px 5px;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  #footer {
    background-color: #E7C11F;
    color: black;
    padding: 2em 0px;
    margin-top: 5em;

    h1, h2, h3, h4, h5 {
      color: black;
    }

    a {
      color: white;
    }

    ul {
      margin-left: 0px;
    }

    .container {
      height: auto;
    }

    .logos {
      img {
        width: 150px;
        height: auto;
        background: white;
        padding: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

#main-outlet {
  padding-top: 68px;
}
